MONGO_URI=mongodb+srv://<db-user>:<db-password>@<atlas-host>/<database-name>?retryWrites=true&w=majority
FRONTEND_URL=http://localhost:5173
FRONTEND_URLS=http://localhost:5173,https://adopt-a-pet-orcin.vercel.app
PORT=5000
